/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Wedding
Version:	1.0.0
Author: 
Website: 
Purchase: 
-------------------------------------------------------------------
[Table of contents]
 
1. Body
2. Custom css / a
3. Preloader/ #preloader
4. Header Css Start / .wd_slider_wrapper
5. Button Css Start / .wd_btn
6. Heading Css Start / .wd_heading
7. About Wrapper css Start / .wd_about_wrapper
8. Story css Start / .wd_story_wrapper
9. Event css Start / .wd_event_wrapper
10. Guest css Start / .wd_guest_wrapper
11. Testimomnial css Start / .wd_testimonial_wrapper
12. Family css Start / .wd_family_wrapper
13. Gallery css Start / .wd_gallery_wrapper
14. Blog css Start / .wd_blog_wrapper
15. Contact css Start / .wd_contact_wrapper
16. Footer css Start / .wd_footer_wrapper
17. Responsive css Start / .wd_logo
*/

/*--------- Body Strat -------*/
body, html{
	font-family: 'Lora', serif;
	font-size: 16px;
	line-height: 23px;
	color: #797979;
	overflow-x: hidden;
}
/*---------- Custom Css Start -------*/
a {
	color: #797979;
	text-decoration: none;
}
a:hover, a:focus {
	color: #707070;
	text-decoration: none;
}
a:focus {
	outline: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Great Vibes', cursive;
	line-height: 1.1;
	font-weight:400;
	color: #222222;
}
input, select, button {
	outline: none;
}
input:focus, select:focus, button:focus {
	outline: none;
	box-shadow:none;
}
textarea {
	outline: none;
}
textarea:focus {
	outline: none;
	box-shadow:none;
}
.wd_toppadder10{
	padding-top:10px;
}
.wd_toppadder20{
	padding-top:20px;
}
.wd_toppadder30{
	padding-top:30px;
}
.wd_toppadder40{
	padding-top:40px;
}
.wd_toppadder50{
	padding-top:50px;
}
.wd_toppadder60{
	padding-top:60px;
}
.wd_toppadder70{
	padding-top:70px;
}
.wd_toppadder80{
	padding-top:80px;
}
.wd_toppadder90{
	padding-top:90px;
}
.wd_toppadder100{
	padding-top:100px;
}
.wd_bottompadder10{
	padding-bottom:10px;
}
.wd_bottompadder20{
	padding-bottom:20px;
}
.wd_bottompadder30{
	padding-bottom:30px;
}
.wd_bottompadder40{
	padding-bottom:40px;
}
.wd_bottompadder50{
	padding-bottom:50px;
}
.wd_bottompadder60{
	padding-bottom:60px;
}
.wd_bottompadder70{
	padding-bottom:70px;
}
.wd_bottompadder80{
	padding-bottom:80px;
}
.wd_bottompadder90{
	padding-bottom:90px;
}
.wd_bottompadder100{
	padding-bottom:100px;
}
.wd_scroll_wrap{
	float:left;
	width:100%;
}
/*-- Preloader css start --*/
#preloader {
	background-color: #fff;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2147483647;
	width: 100%;
	height: 100%;
}
#status {
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
#status img {
}
/*-- Slider Css Start --*/
.tp-leftarrow, .tp-rightarrow{
	display:none !important;
}
/*-- Slider Css End --*/
/*-- Header Css Start --*/
.wd_slider_wrapper{
	float:left;
	width:100%;
    position: relative;
}
#headbottom {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0px auto;
    bottom: -50px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    text-align: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color:#81c683;
    z-index: 100;
}
#headbottom i {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;
    line-height: 80px;
    color: #ffffff;
    font-size: 24px;
}
#headbottom span{
	line-height:140px;
	color:#ffffff;
}
.wd_slider_textinfo img{
    animation-duration: 2s;
    animation-delay: 300ms;
    animation-iteration-count: infinite;
    animation-name: pulse;
}

.wow {
   visibility: hidden;
}
#snow{
	background: none;
	background-image: url('../images/header/sn1.png'), url('../images/header/sn2.png'), url('../images/header/sn3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	
.wd_logo{
    float: left;
    width: 100%;
    padding-top: 49px;
}
.wd_logo img{
	display:inline-block;
}
.wd_header_wrapper{
    float: left;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.30);
    z-index: 1;
    position: relative;
	box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.10);
}
.wd_mainmenu_wrapper{
	float:left;
	width:100%;
}
.wd_main_menu{
	float:left;
	width:100%;
}
.wd_main_menu ul{
    float: right;
    width: auto;
    margin: 0px;
    padding: 0px;
}
.wd_main_menu ul li{
    list-style: none;
    float: left;
    width: auto;
}
.wd_main_menu ul li a{
    float: left;
    padding: 70px 16px;
    margin: 0px;
    color: #111111;
    font-size: 18px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.wd_main_menu ul li a:hover, .wd_main_menu ul li.active a{
	color: #81c683;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.menu_fixed .wd_main_menu ul li a{
	padding:30px 16px;
}
.menu_fixed .wd_logo {
    padding-top: 10px;
}
.wd_menu_btn{
	display:none;
}
.menu_fixed{
	position: fixed;
	z-index:1000;
	padding:0px 0px;
    top: 0;
	background-color:rgba(255, 255, 255, 0.9);
	-o-box-shadow:0px 0px 25px -10px;
	-ms-box-shadow:0px 0px 25px -10px;
	-moz-box-shadow:0px 0px 25px -10px;
	-webkit-box-shadow:0px 0px 25px -10px;
	box-shadow:0px 0px 25px -10px;
}
/*-- Button Css Start --*/
.wd_btn{
	float:left;
	width:100%;
}
.wd_btn a{
    display: inline-block;
	width:auto;
	min-width:150px;
	height:50px;
	line-height:49px;
	font-size:18px;
	color:#ffffff;
	text-transform:uppercase;
    font-weight: normal;
	background-color: #81c683;
	text-align:center;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	border-radius:50px;
	border:none;
    padding: 0px 30px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.wd_btn a:hover{
	color:#ffffff;
	background:#111111;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.wd_btn button{
    display: inline-block;
	width:auto;
	min-width:150px;
	height:50px;
	line-height:49px;
	font-size:18px;
	color:#ffffff;
	text-transform:uppercase;
    font-weight: normal;
	background-color: #81c683;
	text-align:center;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	border-radius:50px;
	border:none;
    padding: 0px 30px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.wd_btn button:hover{
	color:#ffffff;
	background:#111111;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
/*-- Heading Css Start --*/
.wd_heading{
	float:left;
	width:100%;
	margin-bottom:60px;
	text-align:center;
	text-transform:uppercase;
}
.wd_heading h1{
	float:left;
	width:100%;
	margin:10px 0px;
	font-size:40px;
	font-family: 'Lora', serif;
}
.wd_heading h4{
	float:left;
	width:100%;
	margin:0px;
	font-size:18px;
	color:#81c683;
	font-family: 'Lora', serif;
}
.wd_heading img{
	display:inline-block;
}
/*-- About Wrapper css Start --*/
.wd_about_wrapper{
	float:left;
	width:100%;
	background-image:url(../images/content/about_bg.jpg);
	background-size:cover;
	background-position:100% 100%;
	background-repeat:no-repeat;
}
.wd_about_infobox{
	float:left;
	width:100%;
	text-align:center;
    margin-bottom: 40px;
}
.wd_about_infobox_img{
	float:left;
	width:100%;
	text-align:center;
	margin-bottom:30px;
	position:relative;
	z-index:0;
}
.wd_about_infobox_img:after{
    content: "";
    position: absolute;
    top: 0px;
    left: -80px;
    right: 0px;
    margin: 0px auto;
    background-color: #81c683;
    height: 150px;
    -webkit-border-radius: 150px 150px 0px 0px;
    -moz-border-radius: 150px 150px 0px 0px;
    border-radius: 150px 150px 0px 0px;
    width: 285px;
    z-index: -1;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.wd_about_infobox_img:before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    right: -80px;
    margin: 0px auto;
    background-color: #81c683;
    height: 150px;
    -webkit-border-radius: 0px 0px 150px 150px;
    -moz-border-radius: 0px 0px 150px 150px;
    border-radius: 0px 0px 150px 150px;
    width: 285px;
    z-index: -1;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.wd_about_infobox_img span{
	position:absolute;
    z-index: -1;
	top: -16px;
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
.wd_about_infobox_img span img{
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
}
.wd_about_infobox_img img{
	display:inline-block;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
}
.wd_about_infobox h2{
	float:left;
	width:100%;
	font-size:30px;
	text-transform:capitalize;
	color:#81c683;
}
.wd_about_infobox p{
	float:left;
	width:100%;
	text-transform:capitalize;
}
.wd_about_infobox ul{
	float:left;
	width:100%;
	margin:0px;
	padding:0px;
}
.wd_about_infobox ul li{
	list-style:none;
	display:inline-block;
	width:auto;
	margin:5px;
}
.wd_about_infobox ul li a{
	float:left;
	width:45px;
	height:45px;
	line-height:43px;
	text-align:center;
	color:#000000;
	border:1px solid #e4e4e4;
	background-color:#ffffff;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.wd_about_infobox ul li a:hover{
	background-color:#81c683;
	color:#ffffff;
	border:1px solid #81c683;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.wd_about_infobox h1{
	float:left;
	width:100%;
	font-size:60px;
	margin:0px;
	position:relative;
}
.wd_about_infobox h1:after{
    content: "";
    position: absolute;
    bottom: 10px;
    right: 0px;
    width: 70%;
    border-bottom: 1px solid #81c683;
}
.wd_about_infobox h1{
    display: inline-block;
    width: auto;
    float: none;
}
.wd_about_infobox_date{
	float:left;
	width:100%;
	padding:45px 60px;
}
.wd_about_infobox_date p{
    float: left;
    width: 100%;
    font-style: italic;
    padding: 0px 30px;
}
.wd_about_infobox_date h2{
    float: left;
    width: 100%;
    font-size: 40px;
    color: #222222;
    text-transform: uppercase;
    font-family: 'Lora', serif;
    margin-top: 0px;
}
.wd_about_infobox_date h3{
    float: left;
    width: 100%;
    font-size: 30px;
    color: #81c683;
    text-transform: uppercase;
    font-family: 'Lora', serif;
    margin-top: 10px;
}
.wd_timer_wrapper{
	float:left;
	width:100%;
	text-align:center;
}
.wd_center_words{
    float: left;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 20px 0px;
}
.wd_center_words:after{
	content:"";
	position:absolute;
	top:50%;
	left:0px;
	right:0px;
	background-color:#797979;
	height:1px;
	z-index:-1;
}
.wd_center_words h4{
	display:inline-block;
	width:auto;
	text-transform:uppercase;
	font-size:20px;
    font-family: 'Lora', serif;
	padding:0px 15px;
	background-color:#ffffff;
}
#clockdiv{
    float: left;
    width: 100%;
    color: #81c683;
    display: inline-block;
    text-align: center;
    font-size: 70px;
	padding:30px 0px 10px 0px;
}
#clockdiv > div{
	display: inline-block;
    margin: 30px 50px;
    font-family: 'Great Vibes', cursive;
}
#clockdiv div > span{
    float: left;
    width: 100%;
}
.smalltext{
    float: left;
    width: 100%;
	padding-top: 20px;
	font-size: 18px;
	color:#222222;
    font-family: 'Lora', serif;
	font-style:italic;
	color:#797979;
}
/*-- Story css Start --*/
.wd_story_wrapper{
	float:left;
	width:100%;
	background-image:url(../images/content/story_bg.jpg);
	background-size:cover;
	background-position:100% 100%;
	background-repeat:no-repeat;
    position: relative;
	z-index:0;
}
.wd_overlay{
    content: "";
    position: absolute;
    background-image: url(../images/content/dot_bg.png);
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}
.wd_story_wrapper .wd_heading h1{
	color:#ffffff;
}
.wd_story_covers{
	float:left;
	width:100%;
	position:relative;
}
.wd_story_line{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    width: 2px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    height: 100%;
}
.wd_story_covers_box_left{
    float: left;
    width: 510px;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 50px 0px 50px 50px;
    -moz-border-radius: 50px 0px 50px 50px;
    border-radius: 50px 0px 50px 50px;
    position: relative;
    margin: 50px 0px 150px 0px;
}
.wd_story_covers_box_left:after{
	content: "";
    position: absolute;
    right: -35px;
    top: 0px;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-left: 35px solid rgba(255, 255, 255, 0.1);
    border-bottom: 25px solid transparent;
}
.wd_story_covers_box_right .wd_story_dot{
	left:-75px;
	right:auto;
}
.wd_story_dot{
	position: absolute;
    right: -75px;
    top: 30px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
}
.wd_story_dot span{
    background-color: #81c683;
    width: 15px;
    height: 15px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: 0px auto;
}
.wd_story_covers_box_right{
    float: right;
    width: 510px;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 0px 50px 50px 50px;
    -moz-border-radius: 0px 50px 50px 50px;
    border-radius: 0px 50px 50px 50px;
    position: relative;
    margin: 150px 0px 50px 0px;
}
.wd_story_covers_box_right:after{
    content: "";
    position: absolute;
    left: -35px;
    top: 0px;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 35px solid rgba(255, 255, 255, 0.1);
    border-bottom: 25px solid transparent;
}
.wd_story_covers_box_right .wd_story_covers_box_img{
	float:right;
}
.wd_story_covers_box_img{
	float:left;
	width:220px;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	border-radius:50px;
}
.wd_story_covers_box_img img{
	display:inline-block;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	border-radius:50px;
}
.wd_story_covers_box_right .wd_story_covers_box_datails{
	float:left;
}
.wd_story_covers_box_datails{
    float: right;
    width: calc(100% - 220px);
    padding: 35px 30px 0px 35px;
    -webkit-border-radius: 0px 0px 50px 50px;
    -moz-border-radius: 0px 0px 50px 50px;
    border-radius: 0px 0px 50px 50px;
}
.wd_story_covers_box_datails span{
	float:left;
	width:100%;
	font-size:16px;
	color:#81c683;
	text-transform:uppercase;
}
.wd_story_covers_box_datails h1{
    float: left;
    width: 100%;
    font-size: 30px;
    color: #ffffff;
    text-transform: capitalize;
    margin: 12px 0px;
}
.wd_story_covers_box_datails p{
	float:left;
	width:100%;
	color:#ffffff;
	margin-bottom:0px;
	margin-top:15px;
}
/*-- Event css Start --*/
.wd_event_wrapper{
	float:left;
	width:100%;
	background-image:url(../images/content/event_bg.jpg);
	background-size:cover;
	background-position:100% 100%;
	background-repeat:no-repeat;
    position: relative;
	z-index:0;
}
.wd_event_infobox{
	float:left;
	width:100%;
	text-align:center;
	margin-bottom:30px;
}
.wd_event_infobox h2{
    float: left;
    width: 100%;
    color: #81c683;
    font-size: 30px;
    margin: 0px;
}
.wd_event_infobox h1{
    display: inline-block;
    width: auto;
    margin: 30px 0px;
    padding: 10px 30px;
    border: 1px solid #e4e4e4;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-size: 30px;
}
.wd_event_infobox span{
    float: left;
    width: 100%;
    font-size: 18px;
    color: #111111;
    margin-bottom: 15px;
    padding: 0px 60px;
}
.wd_event_infobox p{
	float:left;
	width:100%;
	margin-bottom:30px;
}
.wd_event_infobox p a{
	color:#81c683;
}
.wd_event_infobox img{
	display:inline-block;
	margin-bottom:30px;
    animation-duration: 2s;
    animation-delay: 300ms;
    animation-iteration-count: infinite;
    animation-name: pulse;
}
/*-- Guest css Start --*/
.wd_guest_wrapper{
	float:left;
	width:100%;
	background-image:url(../images/content/guest_bg.jpg);
	background-size:cover;
	background-position:100% 100%;
	background-repeat:no-repeat;
    position: relative;
	z-index:0;
}
.wd_overlay{
    content: "";
    position: absolute;
    background-image: url(../images/content/dot_bg.png);
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}
.wd_guest_wrapper .wd_heading h1{
	color:#ffffff;
}
.wd_guest_infobox{
	float:left;
	width:100%;
    padding: 60px 0px 30px 0px;
}
.wd_guest_infobox h2{
	float:left;
	width:100%;
	color:#ffffff;
	margin:0px 0px 30px 0px;
}
.wd_guest_infobox h2 span{
	color:#81c683;
}
.wd_guest_infobox h4{
    float: left;
    width: 100%;
    color: #ffffff;
    font-family: 'Lora', serif;
    margin: 0px 0px 15px 0px;
}
.wd_guest_infobox p{
	float:left;
	width:100%;
	color:#ffffff;
	margin-bottom:50px;
}
.wd_guest_formbox{
	float: right;
    width: 90%;
    background-color: #fafafa;
    text-align: center;
	padding:45px 0px 0px 0px;
}
.wd_guest_formbox span{
	float:left;
	width:100%;
	color:#111111;
	font-size:30px;
	font-style:italic;
}
.wd_guest_formbox h4{
    float: left;
    width: 100%;
    color: #81c683;
    font-size: 30px;
    margin: 15px 0px 45px 0px;
}
.wd_guest_form{
	float:left;
	width:100%;
	background-color:#ffffff;
	padding:45px 70px;
	text-align:left;
}
.wd_guest_form  label{
	float:left;
	width:100%;
	font-size:16px;
	font-weight:400;
	color:#111111;
	font-style:italic;
}
.wd_guest_form  input, .wd_guest_form  select{
	float:left;
	width:100%;
	height:50px;
	line-height:48px;
	padding:0px 10px;
	border:1px solid #e4e4e4;
	margin-bottom:20px;
	border-radius:0px;
}
.wd_guest_form .wd_btn{
	text-align:center;
	margin-top:20px;
}
.wd_guest_slider{
	float:left;
	width:100%;
	text-align:center;
    margin-bottom: 30px;
}
.wd_guest_slider .owl-theme .owl-dots .owl-dot span {
    background: #555555;
}
.wd_guest_slider .owl-theme .owl-dots .owl-dot.active span, .wd_guest_slider .owl-theme .owl-dots .owl-dot:hover span {
    background: #81c683;
}
.wd_guest_slider .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 50px;
}
/*-- Testimomnial css Start --*/
.wd_testimonial_wrapper{
	float:left;
	width:100%;
	background-color:#81c683;
}
.wd_testimonial_slider{
	float:left;
	width:100%;
}
.wd_testimo_box{
	float:left;
	width:100%;
	text-align:center;
}
.wd_testimo_box img{
    display: inline-block !important;
    width: 63px !important;
    height: 47px;
    animation-duration: 2s;
    animation-delay: 300ms;
    animation-iteration-count: infinite;
    animation-name: pulse;
}
.wd_testimo_box p {
	float:left;
	width:100%;
	font-size:46px;
	color:#ffffff;
    font-family: 'Great Vibes', cursive;
	margin:30px 0px 20px 0px;
    line-height: 46px;
}
.wd_testimo_box h4 {
	float:left;
	width:100%;
	font-size:18px;
	color:#ffffff;
    font-family: 'Lora', serif;
	margin:0px;
}
.wd_testimonial_slider .owl-theme .owl-nav.disabled + .owl-dots{
	display:none;
}
/*-- Family css Start --*/
.wd_family_wrapper{
	float:left;
	width:100%;
	background-image:url(../images/content/family_bg.jpg);
	background-size:cover;
	background-position:100% 100%;
	background-repeat:no-repeat;
}
.wd_family_tabbox{
	float:left;
	width:100%;
}
.wd_family_tabbox ul.nav{
	float:left;
	width:100%;
	margin:0px;
	padding:0px;
	border:none;
	text-align:center;
	position:relative;
	z-index:1;
}
.wd_family_tabbox ul.nav:after{
    content: "";
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    border: 1px solid #e4e4e4;
    width: 100%;
    z-index: -1;
    margin: 0px auto;
}
.wd_family_tabbox ul.nav > li{
    float: none;
    display: inline-block;
    width: 130px;
    background-color: #ffffff;
    margin: 0px -3px;
}
.wd_family_tabbox .nav > li > a{
	padding:0px;
	border:none;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.wd_family_tabbox .nav > li > a:hover, .wd_family_tabbox .nav > li.active > a:hover{
	background:none;
}
.wd_family_tabbox .nav > li > a:hover p, .wd_family_tabbox .nav > li.active > a:hover p{
	color: #81c683;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.wd_family_tabbox .nav > li > a:hover img, .wd_family_tabbox .nav > li.active > a:hover img{
	border: 4px solid #81c683;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.wd_family_tabbox .nav-tabs > li.active > a, .wd_family_tabbox .nav-tabs > li.active > a:hover, .wd_family_tabbox .nav-tabs > li.active > a:focus{
	border:none;
	background:none;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.wd_family_tabbox .nav-tabs > li.active > a p, .wd_family_tabbox .nav-tabs > li.active > a:hover p, .wd_family_tabbox .nav-tabs > li.active > a:focus p{
	color: #81c683;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.wd_family_tabbox .nav-tabs > li.active > a img, .wd_family_tabbox .nav-tabs > li.active > a:hover img, .wd_family_tabbox .nav-tabs > li.active > a:focus img{
	border: 4px solid #81c683;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    animation-duration: 2s;
    animation-delay: 300ms;
    animation-iteration-count: infinite;
    animation-name: pulse;
}
.wd_family_tabbox .nav > li > a  > img{
	border:4px solid #e4e4e4;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	margin-bottom:10px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.wd_family_tabbox .nav > li > a  > p{
	float:left;
	width:100%;
	margin:0px;
    font-family: 'Great Vibes', cursive;
	font-size:24px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.wd_family_tabbox .tab-content{
    float: left;
    width: 100%;
    margin-top: 50px;
	position:relative;
}
.wd_family_tabbox .tab-content:after{
    content: "";
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    border: 1px solid #e4e4e4;
	margin: 0px auto;
}
.wd_family_slider{
	float:left;
	width:100%;
}
.wd_family_slider .owl-theme .owl-dots{
	display:none;
}
.wd_family_slider .owl-theme .owl-nav [class*='owl-'] {
    color: #111111;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
    background: #e4e4e4;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 55px;
    height: 55px;
    line-height: 45px;
    text-align: center;
    border: 5px solid #ffffff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.wd_family_slider .owl-theme .owl-nav [class*='owl-']:hover {
    background: #81c683;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.wd_family_infobox{
	float:left;
	width:100%;
	text-align:center;
    margin-bottom: 40px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.wd_family_infobox_img{
	float:left;
	width:100%;
	text-align:center;
	margin-bottom:20px;
	position:relative;
	z-index:0;
}
.wd_family_infobox_img span{
	position:absolute;
    z-index: -1;
	top: 5px;
}
.wd_family_infobox_img span img{
	border-radius:0px;
	border:none;
	width:auto !important;
	display:inline-block !important;
}
.wd_family_infobox:hover .wd_family_infobox_img span img{
	border:none;
}
.wd_family_infobox_img img{
	display:inline-block !important;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	border:4px solid #e4e4e4;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
	width:auto !important;
}
.wd_family_infobox:hover .wd_family_infobox_img img{
	border:4px solid #81c683;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.wd_family_infobox h2{
	float:left;
	width:100%;
	font-size:30px;
	text-transform:capitalize;
	color:#111111;
}
.wd_family_infobox:hover h2{
	color:#81c683;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.wd_family_infobox p{
	float:left;
	width:100%;
	text-transform:capitalize;
}
.wd_family_infobox ul{
	float:left;
	width:100%;
	margin:0px;
	padding:0px;
}
.wd_family_infobox ul li{
	list-style:none;
	display:inline-block;
	width:auto;
	margin:5px;
}
.wd_family_infobox ul li a{
	float:left;
	width:45px;
	height:45px;
	line-height:43px;
	text-align:center;
	color:#000000;
	border:1px solid #e4e4e4;
	background-color:#ffffff;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.wd_family_infobox ul li a:hover{
	background-color:#81c683;
	color:#ffffff;
	border:1px solid #81c683;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.wd_family_infobox h1{
	float:left;
	width:100%;
	font-size:60px;
	margin:0px;
	position:relative;
}
.wd_family_infobox h1:after{
    content: "";
    position: absolute;
    bottom: 10px;
    right: 0px;
    width: 70%;
    border-bottom: 1px solid #81c683;
}
.wd_family_infobox h1{
    display: inline-block;
    width: auto;
    float: none;
}
/*-- Gallery css Start --*/
.wd_gallery_wrapper{
	float:left;
	width:100%;
	background-color:#0c0c0c;
    position: relative;
	z-index:0;
}
.wd_gallery_wrapper .wd_heading h1{
	color:#ffffff;
}
.wd_gallery_slider{
	float:left;
	width:100%;
}
.wd_gallery_slide{
	float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 27px;
	z-index:10;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.wd_gallery_slide img{
	display:inline-block;
}
.wd_gallery_slide:after{
	content:"";
	position:absolute;
	top:0px;
	left:0;
	right:0;
	margin:0px auto;
	height:100%;
	background: linear-gradient(0deg, black, transparent 100%);
	z-index:0;
	opacity:0;
	visibility:hidden;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.wd_gallery_slide:hover:after{
	opacity:1;
	visibility:visible;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.wd_gallery_slide:hover .ast_glr_overlay{
	bottom:0px;
	visibility:visible;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.ast_glr_overlay{
    position: absolute;
    bottom: -84px;
    left: 0;
    right: 0;
    padding: 0px 50px 40px 50px;
	z-index:1;
	visibility:hidden;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.ast_glr_overlay p{
    float: left;
    width: auto;
    margin: 0px;
    text-transform: capitalize;
    color: #ffffff;
    font-size: 24px;
    padding-top: 5px;
}
.ast_glr_overlay a{
    float: right;
    color: #81c683;
    width: 40px;
    border: 1px solid rgba(129, 198, 131, 0.5);
    text-align: center;
    height: 35px;
    line-height: 34px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.ast_glr_overlay a:hover{
    border: 1px solid #81c683;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.wd_gallery_slider .owl-theme .owl-dots .owl-dot span {
    width: 50px;
    height: 30px;
    margin: 5px 5px;
    background: #383838;
    border-radius: 0px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.wd_gallery_slider .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    border: 1px solid #81c683;   
	background: #383838;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
/*-- Blog css Start --*/
.wd_blog_wrapper{
	float:left;
	width:100%;
	background-image:url(../images/content/blog_bg.jpg);
	background-size:cover;
	background-position:100% 100%;
	background-repeat:no-repeat;
}
.wd_blog_box{
	float:left;
	width:100%;
	margin-bottom:50px;
}
.wd_blog_info{
	float:left;
	width:100%;
	text-align:left;
    padding-top: 20px;
}
.wd_blog_info h3{
	float: left;
    width: 100%;
    font-size: 30px;
}
.wd_blog_info ul{
	float:left;
	width:100%;
	margin:0px;
	margin-bottom:30px;
	padding:0px;
}
.wd_blog_info ul li{
	list-style:none;
	float:left;
	width:auto;
	margin-right:15px;
}
.wd_blog_info ul li a{
    font-size: 16px;
	color:#111111;
	font-style:italic;
	text-transform:capitalize;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.wd_blog_info ul li a:hover{
	color:#81c683;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.wd_blog_info ul li a i{
	color:#81c683;
	margin-right:5px;
}
.wd_blog_info p{
	float:left;
	width:100%;
}
.wd_blog_info .wd_btn{
	margin-top:20px;
}
.wd_blog_img{
	float:left;
	width:100%;
	position:relative;
	overflow:hidden;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-border-radius: 50px 0px 50px 0px;
    -moz-border-radius: 50px 0px 50px 0px;
    border-radius: 50px 0px 50px 0px;
}
.wd_blog_box:hover .wd_blog_img img{
	-webkit-transform:scale(1.1) rotate(2deg);
	-moz-transform:scale(1.1) rotate(2deg);
	-o-transform:scale(1.1) rotate(2deg);
	-ms-transform:scale(1.1) rotate(2deg);
	transform:scale(1.1) rotate(2deg);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-border-radius: 50px 0px 50px 0px;
    -moz-border-radius: 50px 0px 50px 0px;
    border-radius: 50px 0px 50px 0px;
}
.wd_blog_img img{
    -webkit-border-radius: 50px 0px 50px 0px;
    -moz-border-radius: 50px 0px 50px 0px;
    border-radius: 50px 0px 50px 0px;
	display:inline-block;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
/*-- Contact css Start --*/
.wd_contact_wrapper{
	float:left;
	width:100%;
	background-image:url(../images/content/contact_bg.jpg);
	background-size:cover;
	background-position:100% 100%;
	background-repeat:no-repeat;
    position: relative;
	z-index:0;
}
.wd_overlay{
    content: "";
    position: absolute;
    background-image: url(../images/content/dot_bg.png);
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}
.wd_contact_wrapper .wd_heading h1{
	color:#ffffff;
}
.wd_contact_form{
	float:left;
	width:100%;
}
.wd_contact_form  input, .wd_contact_form  select, .wd_contact_form textarea{
    float: left;
    width: 100%;
    height: 50px;
    padding: 0px 15px;
    color: #ffffff;
    border: 0px;
    margin-bottom: 20px;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.20);
}
.wd_contact_form textarea{
	padding:15px;
	height:auto;
	resize:none;
}
.wd_contact_form .wd_btn{
	text-align:center;
	margin-top:20px;
}
.wd_contact_form .wd_btn button{
	border:1px solid transparent;
}
.wd_contact_form .wd_btn button:hover{
	border:1px solid #81c683;
}
.wd_contact_form input::-webkit-input-placeholder, .wd_contact_form textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #ffffff;
    font-style: italic;
}
.wd_contact_form input::-moz-placeholder, .wd_contact_form textarea::-webkit-input-placeholder { /* Firefox 19+ */
	color: #ffffff;
    font-style: italic;
}
.wd_contact_form input:-ms-input-placeholder, .wd_contact_form textarea::-webkit-input-placeholder { /* IE 10+ */
	color: #ffffff;
    font-style: italic;
}
.wd_contact_form input:-moz-placeholder, .wd_contact_form textarea::-webkit-input-placeholder { /* Firefox 18- */
	color: #ffffff;
    font-style: italic;
}
/*-- Footer css Start --*/
.wd_footer_wrapper{
	float:left;
	width:100%;
	background-image:url(../images/content/footer_bg.jpg);
	background-size:cover;
	background-position:100% 100%;
	background-repeat:no-repeat;
    position: relative;
	z-index:0;
}
.wd_footer_infobox{
	float:left;
	width:100%;
	text-align:center;
	margin-bottom:30px;
}
.wd_footer_infobox h2{
	float:left;
	width:100%;
}
.wd_footer_infobox p{
    float: left;
    width: 100%;
    padding: 0px 70px;
}
.wd_footicon{
	float:left;
	width:100%;
	position:relative;
	text-align:center;
}
.wd_footicon i{
    display: inline-block;
    width: 120px;
    height: 120px;
    line-height: 120px;
    background-color: #81c683;
    color: #ffffff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin-bottom: 20px;
    font-size: 36px;
}
.wd_footicon:after{
	content: '';
    border: 1px solid #000000;
    width: 181px;
    position: absolute;
    top: 43%;
    left: -2px;
    right: 0px;
    margin: 0px auto;
    z-index: -1;
    -ms-transform: rotate(-51deg);
    -webkit-transform: rotate(-51deg);
    transform: rotate(-51deg);
}
.wd_footer_bottom_wrapper{
	float:left;
	width:100%;
	background-color:#0c0c0c;
	position:relative;
    padding-left: 50px;
    padding-right: 50px;
}
.wd_footer_section{
	float:left;
	width:100%;
}
.wd_footer_section img{
	float:left;
	width:auto;
}
.wd_footer_section p{
	float:right;
	width:auto;
	padding-top:20px;
	margin:0px;
    color: #cccccc;
}
#scroll {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0px auto;
    top: -50px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    line-height: 80px;
    color: #ffffff;
    font-size: 24px;
    border: 10px solid #ffffff;
    text-align: center;
    display: none;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #81c683;
}
/*-- Responsive css Start --*/
@media (max-width: 1200px) {}

@media (min-width: 992px) and (max-width: 1199px) {

.wd_logo {
    padding-top: 39px;
}
.wd_main_menu ul li a {
    padding: 50px 8px;
}
.menu_fixed .wd_main_menu ul li a {
    padding: 30px 8px;
}
.wd_header_wrapper .wd_btn {
    padding-left: 30px;
}
.menu_fixed .wd_logo {
    padding-top: 24px;
}
.wd_guest_infobox {
    padding: 30px 0px 30px 0px;
}
.wd_guest_form {
    padding: 45px 30px;
}
.wd_footer_infobox p {
    padding: 0px 20px;
}
.wd_family_tabbox ul.nav:after {
    width: 90%;
}
.wd_family_tabbox .tab-content:after {
    width: 90%;
}
.wd_slider_textinfo {
    padding: 150px 0px 150px 150px;
}
.wd_about_infobox_date {
    padding: 65px 20px;
}
.wd_story_covers_box_left {
    width: 410px;
}
.wd_story_covers_box_img {
    width: 100%;
}
.wd_story_covers_box_img img {
    width: 100%;
}
.wd_story_covers_box_datails {
    width: 100%;
    padding: 35px;
}

}

@media (min-width: 768px) and (max-width: 991px) {
.wd_main_menu ul {
    width: 100%;
    text-align: center;
}
.wd_main_menu ul li {
    float: none;
    display: inline-block;
}
.wd_main_menu ul li a {
    padding: 20px 10px;
    font-size: 16px;
}
.wd_logo {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.wd_header_wrapper .wd_btn {
    margin-top: 0px;
    padding-left: 0px;
}
.menu_fixed .wd_main_menu ul li a {
    padding: 10px 10px;
}
.wd_slider_textinfo {
    padding: 100px 0px 100px 0px;
}
#clockdiv > div {
    margin: 30px 10px;
}
.wd_story_line {
    display: none;
}
.wd_story_dot {
    display: none;
}
.wd_story_covers_box_left:after{
	display:none;
}
.wd_story_covers_box_left {
    width: 100%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin: 50px 0px 0px 0px;
}
.wd_story_covers_box_right:after{
	display:none;
}
.wd_story_covers_box_right {
    width: 100%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin: 50px 0px 0px 0px;
}
.wd_guest_formbox {
    width: 100%;
}
.wd_blog_info {
    padding-top: 0px;
}
.wd_blog_info h3 {
    margin-top: 10px;
}
.wd_footer_infobox p {
    padding: 0px 0px;
}
.wd_footer_section {
    text-align: center;
}
.wd_footer_section img {
    float: none;
    display: inline-block;
    margin-top: 25px;
}
.wd_footer_section p {
    width: 100%;
    padding-top: 30px;
}
.wd_gallery_slide {
    margin-bottom: 16px;
}
.ast_glr_overlay {
    padding: 0px 20px 20px 20px;
}
.ast_glr_overlay p {
    font-size: 18px;
}
.wd_footer_bottom_wrapper{
    padding-left: 0px;
    padding-right: 0px;
}

}

@media (max-width: 767px) {

.wd_menu_btn{
    display: block;
    float: none;
    position: absolute;
    top: 35px;
    right: 15px;
    border: none;
    width: 40px;
    height: 30px;
    font-size: 16px;
    color: #ffffff;
    border-radius: 3px;
	background-color: #81c683;
}
.wd_menu_btn:hover, .wd_menu_btn:focus{
	outline:none;
	border:none;
	box-shadow:none;
	text-shadow:none;
}
.wd_main_menu_wrapper{
	z-index: 2;
	position:fixed;
    left: 0px;
    top: 0px;
	bottom:0px;
	-webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
	background-color: #81c683;
}
.wd_main_menu_wrapper {
    width: 300px;
}
.wd_main_menu_wrapper.wd_main_menu_hide{
	-webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
	overflow: scroll;
}
.wd_main_menu ul {
    width: 100%;
}
.wd_main_menu ul li {
    width: 100%;
}
.wd_main_menu ul li a {
	width: 100%;
    text-align: left;
    margin: 0;
    border-radius: 0px;
    border: 0px;
	padding:15px;
	color:#ffffff;
}
.wd_main_menu ul li a:hover, .wd_main_menu ul li a.active {
    border: 0px;
	background-color:#ffffff;
	color:#81c683;
}
.menu_fixed .wd_main_menu ul li a {
    padding: 15px;
}
.wd_header_wrapper .wd_btn {
    padding-left: 0px;
}
.wd_logo {
    padding: 20px 0px;
}
.wd_slider_textinfo {
    width: 70%;
    padding: 50px 0px 50px 0px;
}
.wd_story_line {
    display: none;
}
.wd_story_dot {
    display: none;
}
.wd_story_covers_box_left:after{
	display:none;
}
.wd_story_covers_box_left {
    width: 100%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin: 50px 0px 0px 0px;
}
.wd_story_covers_box_right:after{
	display:none;
}
.wd_story_covers_box_right {
    width: 100%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin: 50px 0px 0px 0px;
}
.wd_guest_formbox {
    width: 100%;
}
.wd_footer_infobox p {
    padding: 0px 0px;
}
.wd_footer_section {
    text-align: center;
}
.wd_footer_section img {
    float: none;
    display: inline-block;
    margin-top: 25px;
}
.wd_footer_section p {
    width: 100%;
    padding-top: 30px;
}
.wd_gallery_slide {
    margin-bottom: 16px;
}
.ast_glr_overlay {
    padding: 0px 20px 20px 20px;
}
.ast_glr_overlay p {
    font-size: 18px;
}
.wd_footer_bottom_wrapper{
    padding-left: 0px;
    padding-right: 0px;
}
.wd_main_menu ul li a:hover, .wd_main_menu ul li.active a{
		background:#ffffff;
	}
}

@media (min-width: 480px) and (max-width: 767px) {}

@media (max-width: 480px) {}

@media (max-width: 479px) {
.wd_slider_textinfo {
    width: 100%;
}
.wd_about_infobox_date {
    padding: 15px 0px;
}
.wd_about_infobox_date p {
    padding: 0px 0px;
}
.wd_story_covers_box_img {
    width: 100%;
}
.wd_story_covers_box_img img {
    width: 100%;
}
.wd_story_covers_box_datails {
    width: 100%;
    padding: 25px 15px 25px 15px;
}
.wd_event_infobox span {
    padding: 0px 0px;
}
.wd_event_infobox img {
    width: 100%;
}
.wd_guest_infobox h2 {
    line-height: 46px;
}
.wd_guest_formbox span {
    font-size: 22px;
}
.wd_guest_form {
    padding: 35px 15px;
}
.wd_heading h1 {
    font-size: 24px;
}
.wd_family_tabbox ul.nav:after {
    width: 90%;
}
.wd_family_tabbox .tab-content:after {
    width: 90%;
}
.wd_about_infobox_img:before {
    height: 120px;
    width: 235px;
}
.wd_about_infobox_img:after {
    height: 120px;
    width: 235px;
}
.wd_slider_textinfo h1 {
    font-size: 24px;
}
.ast_glr_overlay {
    padding: 0px 10px 20px 10px;
}

}

@media (max-width: 380px) {
.wd_main_menu_wrapper {
    width: 190px;
}
}
@media (min-width: 991px) and (max-width: 1199px){
	.wd_story_covers_box_right{width:410px;}
}
/*-- Responsive css End --*/