/*
Theme Name: Wedding- Responsive Theme
Theme URI: http://alisa-jhon.themexriver.com/
Author: themexriver
Description: Bootstrap wedding template
Version: 1.0
*/





/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
#0.1	Theme Reset Style
#0.2	Global Elements 


---------------------------------------------------
==== Home style-1 
---------------------------------------------------
#1.1	header
#1.2	hero
#1.3	couple
#1.4	our-story
#1.5	coming-soon
#1.6	wedding-reciption
#1.7	gallery
#1.8	gift-registry
#1.9	rsvp
#1.10	footer
#1.11	ceremony



---------------------------------------------------
==== Blog
---------------------------------------------------
#3.1	banar
#3.2	blog-content
#3.3	footer



--------------------------------------------------------------*/



/*--------------------------------------------------------------
#0.1	Theme Reset Style
--------------------------------------------------------------*/
body {
	font-family: 'Arimo', sans-serif;
	font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Merriweather', serif;
}

a:hover {
	text-decoration: none;
}



/*--------------------------------------------------------------
#0.2	Global Elements 
--------------------------------------------------------------*/
.overlay {
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

#navbar a:active,
#navbar a:focus,
.nav a:active,
.nav a:focus {
	background-color: transparent !important;
}

.nav .open>a, 
.nav .open>a:focus, 
.nav .open>a:hover {
	background-color: transparent !important;
}

button:active,
button:focus {
	box-shadow: none !important;
	outline: none !important;
}

a.btn {
	font-family: 'Merriweather', serif;
	background: #0dd0e2 !important;
	font-weight: bold;
	color: #fff !important;
	text-transform: uppercase;
	padding: 0;
	border: 0;
	position: relative;
	overflow: hidden;
}


a.btn:before {
	content: "";
	background: rgba(5,135,147, 0.6);
	width: 0%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

a.btn:hover:before {
	width: 100%;
}

a.btn:hover {
	z-index: 10;
}

.section-title {
	background: url(../images/section-title-bg.png) no-repeat center center;
	height: 665px;
	margin-bottom: 55px;
	position: relative;
	z-index: 10;
}

.section-title .col {
	padding-left: 44px !important;
	padding-right: 0;
	position: absolute;
	top: 294px;
}

.section-title span {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #606060;
}

.section-title h2 {
	font-size: 42px;
	font-weight: bold;
	color: #303030;
	text-transform: uppercase;
	line-height: 30px;
	margin: 0.39em 0 0.5em;
}

.section-title p {
	font-family: 'Merriweather', serif;
	font-size: 16px;
	line-height: 14px;
	font-weight: bold;
	font-style: italic;
	color: #0dd0e2 !important;
	margin: 0;
}

.para-with-bg {
	font-family: 'Arimo', sans-serif;
	background: url(../images/para-bg.png) no-repeat center bottom;
	font-size: 17px;
	font-style: italic;
	color: #555;
	line-height: 32px;
	text-align: center;
	margin: 0;
	padding: 0 96px 125px
}

.common-shape {
	background: transparent;
	content: "";
	width: 100%;
	height: 200px;
	position: absolute;
	left: 0;
	bottom: -175px;
	-webkit-transform: skewY(10deg);
	-webkit-transform-origin: left bottom;
	transform: skewY(10deg);
	transform-origin: left bottom;
}

.common-shape:before {
	content: "";
	width: 100%;
	height: 90px;
	background-image: url(../images/circle-shape.png);
	background-repeat: repeat-x;
	position: absolute;
	left: 0;
	bottom: -68px;
}


/*site-loder*/
.site-loder {
	background: #fff;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2000;
}

.site-loder .lode-wrap {
	width: 70px;
	height: 70px;
	display: block;
	margin: -35px 0 0 -35px;
	position: absolute;
	left: 50%;
	top: 50%;
    -webkit-animation: rotating 3s infinite linear;
    animation: rotating 3s infinite linear
}

.site-loder .lode-wrap span {
    background-color: #0dd0e2;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    -webkit-animation: sacling 2s infinite ease-in-out;
    animation: sacling 2s infinite ease-in-out

}

.site-loder .lode-wrap span:nth-child(2) {
    background-color: #c57f65;
	top: auto;
    bottom: 0;
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

@-webkit-keyframes sacling {
	0% { -webkit-transform: scale(0); }
	50% { -webkit-transform: scale(1); }
	100% { -webkit-transform: scale(0); }
}
@keyframes sacling {
	0% { transform: scale(0); }
	50% { transform: scale(1); }
	100% { transform: scale(0); }
}

@-webkit-keyframes rotating {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
@keyframes rotating {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

header.fixed-header {
	position: fixed !important;
	top: 0px !important;
	right: 0 !important;
	z-index: 1000;
	background:rgba(0,0,0,0.50);
}

header .smaller #navbar {
	background-color: rgb(1,1,1);
}

header .smaller #navbar .dropdown-menu {
	background-color: #0dd0e2;
}

header .smaller #navbar .dropdown-menu a:hover {
	background-color: rgb(5,135,147);
}




/*---------------------------------------------------
==== Home style-1 
---------------------------------------------------*/
/*--------------------------------------------------------------
#1.1	header
--------------------------------------------------------------*/
header {
	width: 100%;
	position: absolute;
	left: 0;
	top: 100px;
	z-index: 100;
}

.navbar-brand {
	padding: 25px 0px;
	position: relative;
	z-index: 10;
}


/*navigation*/
.navbar {
	font-family: 'Roboto', sans-serif;
	margin-bottom:0px;
}

.navbar-wrapper {
	position: relative;
	/*top: -30px;*/
}

#navbar {
	background-color: rgba(1,1,1, 0.4);
	padding: 0 170px 0 92px;
	border-radius: 70px 0 0 70px;
	position: relative;
	-webkit-transition: all 1s;
	transition: all 1s;
}

.show-hide-nav {
	opacity: 1 !important;
	visibility: visible !important;
}

#navbar > ul > li > a {
	font-size: 14px;
	color: #fff;
	padding: 43px 20px;
}

#navbar > ul > li > a:hover {
	background-color: transparent;
	color: #0dd0e2;
}

.tog-nav {
	background: #0dd0e2;
	width: 93px;
	height: 106px;
	border: 0;
	border-radius: 0;
	padding: 0;
	position: absolute;
	bottom: 0;
	right: 0px;
	z-index: 100000;
}

.tog-nav {
	color: #fff;
}

.tog-nav span {
	display: inline-block;
	width: 40px;
	height: 40px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	overflow: hidden;
}

.tog-nav i {
	color: #fff;
	font-size: 29px;
	opacity: 1;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.tog-nav i:hover {
	color: #fff;
	opacity: 1;
}

.tog-nav .close {
	left: -100%;
}

.toggle-btn {
	left: 50%;
}

.tog-nav:active,
.tog-nav:focus,
.tog-nav:hover {
	background: #0dd0e2 !important;
	color: #fff !important;
}


/*dropdown menu*/
#navbar .dropdown-menu {
	background-color: rgba(13,208,226, 0.5);
	border: 0;
	border-radius: 0;
	padding: 0;
	margin: 0;
}

#navbar .dropdown-menu a {
	color: #fff;
	font-size: 14px;
	padding: 7px 20px;
}

#navbar .dropdown-menu a:hover {
	background-color: rgba(13,208,226, 0.6)
}


/*--------------------------------------------------------------
#1.2	hero
--------------------------------------------------------------*/
.hero {
	position: relative;
	overflow: hidden;
	z-index: 5;
}

.hero .shape {
	width: 100%;
	height: 360px;
	background: #fff;
	position: absolute;
	bottom: -30px;
	-webkit-transform: skewY(10deg);
	-webkit-transform-origin: left bottom;
	transform: skewY(10deg);
	transform-origin: left bottom;
}

.hero .shape:before {
	content: "";
	width: 100%;
	height: 61px;
	background-image: url(../images/circle-shape.png);
	background-repeat: repeat-x;
	position: absolute;
	left: 0;
	top: -25px;
}

.hero .item {
	width: 100%;
	height: 1272px;
	position: relative;
}

.hero .slider-1 {
	background: url(../images/slider/slider-1.jpg) no-repeat 50% 50%;
	background-size: cover;
}

.hero .slider-2 {
	background: url(../images/slider/slider-2.jpg) no-repeat 50% 50%;
	background-size: cover;
}

.hero .title {
	color: #fff;
	position: absolute;
	left: 0;
	top: 340px;
	text-align: center;
	z-index: 10;
}

.hero .title > span {
	font-family: 'Merriweather', serif;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.hero .title h2 {
	font-family: 'Merriweather', serif;
	background: url(../images/slider/title-bg.png) no-repeat center bottom;
	font-size: 60px;
	font-weight: bold;
	line-height: 30px;
	margin: 0.42em 0 0.45em 0;
	padding: 0 0 1.47em;
}

.hero .title h2 span {
	color: #0dd0e2;
}

.hero .title p {
	margin-bottom: 60px;
	padding: 0 125px;
	line-height: 30px;
}

.hero .title .btn {
	width: 208px;
	height: 55px;
	line-height: 55px;
}



/*--------------------------------------------------------------
#1.3	couple
--------------------------------------------------------------*/
.couple {
	position: relative;
	padding-bottom: 65px;
	z-index: 10;
	margin-top: -500px;
}

.couple .content  {
	position: relative;
}

.couple .col {
	padding-left: 0;
}


/*image with frame*/
.couple .frame-wrapper {
	width: 400px;
	height: 400px;
	position: relative;
}

.couple .frame {
	width: 300px;
	height: 300px;
	border-radius: 20px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	transform: translate(-50%, -50%) rotate(45deg);
	overflow: hidden;
}

.couple .frame img {
	width: 145%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%) rotate(-45deg);
	transform: translate(-50%, -50%) rotate(-45deg);
}

.couple .frame:before {
	content: "";
	width: 100%;
	height: 100%;
	background: transparent;
	border: 20px solid rgba(0,0,0, 0.3);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}

.couple .frame-wrapper a {
	width: 210px;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	border-radius: 25px;
	text-align: center;
	position: absolute;
	bottom: 20px;
	left: 50%;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
}


/*heart group*/
.couple .heart {
	text-align: center;
	position: absolute;
	left: 50%;
	top: 330px;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
}

.couple .heart i {
	display: block;
	font-size: 35px;
	color: #0dd0e2;
	margin-bottom: 17px;
}

.couple .heart i:nth-child(2) {
	font-size: 22px;
}

.couple .heart i:last-child {
	font-size: 15px;
}

.couple .para-with-bg {
	margin: 100px 0 0;
}

.couple .para {
	position: relative;
}

.couple .para:before {
	content: "";
	width: 71px;
	height: 56px;
	background: url(../images/butterfly-1.gif) no-repeat;
	position: absolute;
	right: -90px;
	top: 100px;
}

/*heart animation*/
.couple .content .heart i:first-child {
	-webkit-animation: heartAnimate 0.6s 0.2s infinite alternate;
	animation: heartAnimate 0.6s 0.2s infinite alternate;
}

.couple .content .heart i:nth-child(2) {
	-webkit-animation: heartAnimate 0.6s 0.5s infinite alternate;
	animation: heartAnimate 0.6s 0.5s infinite alternate;
}

.couple .content .heart i:nth-child(3) {
	-webkit-animation: heartAnimate 0.6s  1s infinite alternate;
	animation: heartAnimate 0.6s  1s infinite alternate;
}

@-webkit-keyframes heartAnimate {
	0% { -webkit-transform: scale(0.5); }
	50% { -webkit-transform: scale(1); }
}
@keyframes heartAnimate {
	0% { transform: scale(0.5); }
	50% { transform: scale(1); }
}




/*--------------------------------------------------------------
#1.4	our-story
--------------------------------------------------------------*/
.our-story {
	overflow: hidden;
	position: relative;
	padding-bottom: 80px;
}

.our-story:before {
	background: url(../images/common-bg.jpg);
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	bottom: -175px;
	-webkit-transform: skewY(10deg);
	-webkit-transform-origin: left bottom;
	transform: skewY(10deg);
	transform-origin: left bottom;
	z-index: 1;
}

.our-story .content {
	position: relative;
	z-index: 10;
}

.our-story .meet {
	position: relative;
}

.our-story .meet:before,
.our-story .meet:after {
	content: "";
	position: absolute;
}

.our-story .meet:before {
	background: url(../images/butterfly-1.gif) no-repeat;
	width: 71px;
	height: 56px;
	left: 66px;
	top: 50px;
}

.our-story .meet:after {
	background: url(../images/butterfly-2.gif) no-repeat;
	width: 84px;
	height: 66px;
	right: 66px;
	bottom: 0;
}


/*conversation*/
.our-story .conversation {
	padding-bottom: 64px;
	position: relative;
}

.our-story .conversation:after {
	content: "";
	width: 1020px;
	height: 64px;
	background: url(../images/story/bottom-bg.png) no-repeat;
	position: absolute;
	left: 50%;
	bottom: 0;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
	z-index: 100;
}

.our-story .conversation > .col {
	position: relative;
}

.our-story .conversation img {
	display: block;
	position: relative;
	z-index: 100;
}

.our-story .conversation .left-side img {
	float: right;
}

.our-story .conversation .right-side img {
	float: left;
}


/*frame*/
.our-story .conversation .left,
.our-story .conversation .right {
	width: 170px;
	height: 173px;
	text-align: center;
	position: absolute;
	top: 0;
	z-index: 50;
}

/*our story animation*/
@-webkit-keyframes converstionLeftTagAnimation {
	from { -webkit-transform: translate(-10px); }
	to { -webkit-transform: translate(0px); }
}
@keyframes converstionLeftTagAnimation {
	from { transform: translate(-10px); }
	to { transform: translate(0px); }
}

@-webkit-keyframes converstionRightTagAnimation {
	from { -webkit-transform: translate(10px); }
	to { -webkit-transform: translate(0px); }
}
@keyframes converstionRightTagAnimation {
	from { transform: translate(10px); }
	to { transform: translate(0px); }
}

.our-story .conversation .left {
	left: -15px;
	-webkit-animation: converstionLeftTagAnimation 0.8s alternate infinite ;
	animation: converstionLeftTagAnimation 0.8s alternate infinite ;
}

.our-story .conversation .right {
	right: -55px;
	-webkit-animation: converstionRightTagAnimation 0.8s alternate infinite;
	animation: converstionRightTagAnimation 0.8s alternate infinite;
}

.our-story .conversation .left:before,
.our-story .conversation .right:after {
	content: "";
	width: 484px;
	height: 173px;
	position: absolute;
	top: 0;
}

.our-story .conversation .left:before {
	background: url(../images/story/left-frame.png) no-repeat;
	background-size: 100%;
	left: 0;
}

.our-story .conversation .right:after {
	background: url(../images/story/right-frame.png) no-repeat;
	background-size: 100%;
	right: 0;
}

.our-story .conversation span {
	font-family: 'Merriweather', serif;
	font-size: 19px;
	font-weight: bold;
	color: #fff;
}


/*conversation .owl-item*/
.conversation .owl-carousel .owl-wrapper-outer {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 10;
}

.conversation .owl-carousel .owl-pagination:before {
	background: transparent;
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}


/*left pagination*/
.left-side .owl-carousel .owl-pagination {
	position: absolute;
	bottom: -100px;
	left: 53%;
	-webkit-transform: translate(-53%);
	transform: translate(-53%);
}


/*right pagination*/
.right-side .owl-carousel .owl-pagination {
	position: absolute;
	bottom: -100px;
	left: 49%;
	-webkit-transform: translate(-49%);
	transform: translate(-49%);
}

.conversation .owl-theme .owl-controls .owl-page {
	display: block;
}

.conversation .owl-theme .owl-controls .owl-page span {
	background: #dbdbdb;
	display: block;
	width: 16px;
	height: 16px;
	padding: 0;
	border-radius: 0;
	opacity: 1;
}

.conversation .owl-theme .owl-controls .active span {
	background: #0dd0e2 !important;
}


/*meet*/
.meet {
	position: relative;
	padding-top: 100px;
}

.meet .title {
	font-family: 'Merriweather', serif;
	font-size: 26px;
	font-weight: bold;
	color: #0dd0e2;
	text-transform: uppercase;
	text-align: center;
}

.meet .title span {
	letter-spacing: 5px;
}

.meet .title h2 {
	font-size: 55px;
	font-weight: bold;
	margin: 0.42em 0 0.78em;
	line-height: 30px;
}

.meet .para-with-bg {
	padding-left: 0;
	padding-right: 0;
}


/*owl-controls*/
.meet .owl-controls .owl-buttons .owl-prev,
.meet .owl-controls .owl-buttons .owl-next {
	position: absolute;
	background: transparent;
	opacity: 1;
	font-size: 41px;
	color: #000;
	margin: 0;
	padding: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.meet .owl-controls .owl-buttons .owl-prev {
	left: -80px;
}

.meet .owl-controls .owl-buttons .owl-next {
	right: -80px;
}

.meet .owl-pagination {
	display: none;
}



/*--------------------------------------------------------------
#1.5	coming-soon
--------------------------------------------------------------*/
.coming-soon {
	position: relative;
	padding-bottom: 20px;
}


/*shapes*/
.coming-soon .shape {
	width: 100%;
	height: 360px;
	background-image: url(../images/common-bg.jpg);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}

.coming-soon .shape:after {
	content: "";
	width: 100%;
	height: 61px;
	background-image: url(../images/circle-shape.png);
	background-repeat: repeat-x;
	position: absolute;
	left: 0;
	bottom: -30px;
	z-index: 10;
}

.coming-soon .bottom-shape {
	width: 100%;
	height: 360px;
	background: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 10;
	-webkit-transform: skewY(10deg);
	-webkit-transform-origin: left bottom;
	transform: skewY(10deg);
	transform-origin: left bottom;
} 

.coming-soon .bottom-shape:after {
	content: "";
	width: 100%;
	height: 61px;
	background-image: url(../images/circle-shape.png);
	background-repeat: repeat-x;
	position: absolute;
	left: 0;
	bottom: -30px;
	z-index: 10;
}

.coming-soon .title {
	text-align: center;
	position: relative;
	z-index: 10;
}

.coming-soon .title h3 {
	font-family: 'Merriweather', serif;
	font-size: 30px;
	font-weight: bold;
	color: #303030;
	margin: 0 0 1.34em;
}

.coming-soon .title p {
	font-family: 'Arimo', sans-serif;
	font-size: 17px;
	font-style: italic;
	color: #555;
	line-height: 32px;
	margin: 0;
}


/*clock*/
.count-down-wrapper {
	margin-top: 55px;
	position: relative;
	z-index: 20;
}

.count-down-wrapper .time {
	padding: 0;
}

.count-down-wrapper .time > div {
	background: url(../images/clock-bg.png) no-repeat center 0;
	width: 289px;
	height: 291px;
	margin: 0 auto;
	position: relative;
}

.count-down-wrapper .wrapper-digit {
	position: absolute;
	left: 52%;
	top: 54%;
	-webkit-transform: translate(-52%, -54%);
	transform: translate(-52%, -54%);
	text-align: center;
}

.count-down-wrapper .wrapper-digit div {
	font-family: 'Arimo', sans-serif;
	display: inline-block;
	font-size: 40px;
	font-weight: bold;
	color: #2e2319;
	height: 44px !important;
	overflow: hidden;
}

.count-down-wrapper .wrapper-digit p {
	font-family: 'Merriweather', serif;
	font-size: 16px;
	font-weight: bold;
	color: #0dd0e2;
	text-transform: uppercase;
	margin: 0;
}



/*--------------------------------------------------------------
#1.6	wedding-reciption
--------------------------------------------------------------*/
.wedding-reciption {
	background: url(../images/common-bg.jpg);
	padding-top: 360px;
	padding-bottom: 65px;
	position: relative;
}

.wedding-reciption .container > .row {
	position: relative;
}

.wedding-reciption .container > .row:before {
	content: "";
	background: url(../images/hearts.png) no-repeat;
	width: 58px;
	height: 26px;
	position: absolute;
	top: 115px;
	left: 50%;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);

}

.wedding-reciption .title {
	background: url(../images/wedd-recp-title-bg.png) no-repeat;
	background-size: 100%;
	width: 460px;
	height: 273px;
	text-align: center;
	margin-bottom: 65px;
	position: relative;
}

.wedding-reciption .title div {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.wedding-reciption .title h3 {
	font-family: 'Merriweather', serif;
	font-size: 29px;
	font-weight: bold;
	color: #504e47;
	text-transform: uppercase;
	margin: 3em 0 13px;
	padding: 0 0 8px;
	border-bottom: 2px solid #504e47;
}

.wedding-reciption .title span {
	color: #fff;
	font-style: italic;
}

.wedding-reciption .title + p {
	font-style: italic;
	color: #8b8989;
	text-align: center;
	margin: 0;
}

.wedding-reciption ul {
	margin: 67px 0 75px;
}

.wedding-reciption ul li {
	font-family: 'Merriweather', serif;
	font-size: 19px;
	font-weight: bold;
	color: #000;
	padding-left: 83px;
	position: relative;
	line-height: 50px;
	margin-bottom: 30px;
}

.wedding-reciption ul li:last-child {
	margin-bottom: 0;
}

.wedding-reciption ul li i {
	background: #0dd0e2;
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 0;
}


.wedding-reciption .view {
	background: url(../images/view-tag.png) no-repeat;
	background-size: 100%;
	width: 118px;
	height: 357px;
	position: relative;
	left: 50%;
	margin-left: -59px;
	-webkit-animation: viewTag 1.5s ease-in-out alternate infinite;
	-webkit-transform-origin: top center;
	animation: viewTag 1.5s ease-in-out alternate infinite;
	transform-origin: top center;
}

@-webkit-keyframes viewTag {
	from { -webkit-transform: rotate(5deg); }
	to { -webkit-transform: rotate(-5deg); }
}
@keyframes viewTag {
	from { transform: rotate(5deg); }
	to { transform: rotate(-5deg); }
}

.wedding-reciption .view:hover {
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}


.wedding-reciption .view a {
	font-family: 'Merriweather', serif;
	background: #07bccd;
	width: 104px;
	height: 104px;
	line-height: 104px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 33%;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
}

.wedding-reciption .view a:before,
#blog .view a:before {
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(5,135,147, 0.6);
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 50%;
	z-index: -1;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.wedding-reciption .view a:hover:before,
#blog .view a:hover:before {
	-webkit-transform: scale(1);
	transform: scale(1);
}



/*--------------------------------------------------------------
#1.7	gallery
--------------------------------------------------------------*/
.gallery {
	position: relative;
	padding-bottom: 115px;
}

.gallery .shape {
	background: url(../images/common-bg.jpg);
	width: 100%;
	height: 360px;
	position: absolute;
	top: 0;
}

.gallery .shape:before {
	content: "";
    background: url(../images/circle-shape.png) repeat-x;
    width: 100%;
    height: 61px;
    position: absolute;
    left: 0;
    bottom: -30px;
    z-index: 5;
}


.gallery .gallery-content > .col {
	position: relative;
	margin-bottom: 35px;
}

.gallery .gallery-content > .col > div {
	height: 350px;
	overflow: hidden;
	position: relative;
}

.gallery .frame {
	position: absolute;
	top: 0;
	z-index: 5;
}

.gallery .thumb {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.gallery .gallery-content button {
	font-family: 'Merriweather', serif;
	background-color: #0dd0e2;
	width: 350px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	padding: 0;
	border: 0;
	border-radius: 25px;
	position: absolute;
	bottom: 75px;
	left: 50%;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	z-index: 20;
}


/*hover content*/
.gallery .hover-content {
	background: transparent;
	width: 75%;
	height: 77%;
	border: 5px solid #0dd0e2;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 5%;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	z-index: 10;
}

.gallery .hover-content div {
    width: 100%;
    padding: 0 15px;
	color: #fff;
	position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.gallery .hover-content h4 {
	font-family: 'Merriweather', serif;
	font-weight: bold;
}

.gallery .hover-content p {
	font-size: 14px;
}

.gallery .hover-content .btn {
	font-family: 'Merriweather', serif;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
	background: #0dd0e2;
	color: #fff;
	padding: 0;
	border: 0 !important;
	border: 0;
	border-radius: 25px;
}


/*hover effect*/
.gallery .gallery-content > .col > div:hover .hover-content {
	background: rgba(0,0,0, 0.8);
	border-color: transparent;
}

.gallery .gallery-content > .col > div:hover .hover-content div {
	opacity: 1;
}

.gallery .gallery-content > .col > div:hover button {
	bottom: -50px;
}


.gallery .gallery-content > .btn {
	width: 225px;
	height: 60px;
	line-height: 60px;
	font-size: 13px;
	border-radius: 5px;
	margin-top: 35px;
	position: relative;
	left: 50%;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
}



/*--------------------------------------------------------------
#1.8	gift-registry
--------------------------------------------------------------*/
.gift-registry {
	background: url(../images/gift-registry/gift-bg.jpg) no-repeat 50% 50%;
	background-size: cover;
	padding-bottom: 125px;
	position: relative;
}

.gift-registry:before {
	content: "";
	background: rgba(13,208,226,0.9);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.gift-registry .shape {
	background: #fff;
	width: 100%;
	height: 330px;
	position: absolute;
	top: 0;
}

.gift-registry .shape:before {
	content: "";
    background: url(../images/circle-shape.png) repeat-x;
    width: 100%;
    height: 61px;
    position: absolute;
    left: 0;
    bottom: -30px;
    z-index: 5;
}

.gift-registry .para p {
	font-size: 17px;
	font-style: italic;
	line-height: 32px;
	color: #fff;
	text-align: center;
	margin: 0;
}

.gift-registry  .gift-content {
	margin-top: 85px;
}

.gift-registry  .gift-content .col {
	margin-bottom: 75px;
}

.gift-registry  .gift-content img {
	display: block;
	margin: 0 auto;
}



/*--------------------------------------------------------------
#1.9	rsvp
--------------------------------------------------------------*/
.rsvp {
	position: relative;
	padding-top: 122px;
}

.rsvp:before {
	content: "";
	background: url(../images/circle-shape.png) repeat-x;
	width: 100%;
	height: 61px;
	position: absolute;
	left: 0;
	top: -30px;
	z-index: 5;
}

.rsvp .title {
	text-align: center;
	position: relative;
}

.rsvp .title:before {
	content: "";
	background: url(../images/butterfly-1.gif) no-repeat;
	width: 71px;
	height: 56px;
	position: absolute;
	left: 0;
	top: 77px;
}

.rsvp .title h2 {
	font-size: 40px;
	font-weight: bold;
	font-style: italic;
	color: #0dd0e2;
	margin: 0 0 1.1em;
}

.rsvp .title p {
	padding: 0 75px 125px;
}


/*form*/
.rsvp .form > .col,
#blog-details .form > .col {
	background: url(../images/common-bg.jpg);
	padding: 112px 97px;
	margin-top: 80px;
	position: relative;
	z-index: 10;
}

.rsvp .form > .col:before,
#blog-details .form > .col:before {
	content: "";
	background: url(../images/butterfly-1.gif) no-repeat;
	width: 71px;
	height: 56px;
	position: absolute;
	right: -35px;
	top: 223px;
}

.rsvp .form > .col .bird,
#blog-details .form > .col .bird {
	background: url(../images/bird.png) no-repeat;
	width: 186px;
	height: 190px;
	position: absolute;
	right: 24px;
	bottom: -38px;
}

.rsvp form > .col,
#blog-details form > .col {
	margin-bottom: 42px;
}

.rsvp .form label,
#blog-details .form label {
	font-style: italic;
	color: #676767;
	font-weight: normal;
	padding-left: 15px;
}

#blog-details .form label.error,
.rsvp .form label.error{
	padding-top:10px;
	color:#ff0000;	
}

.rsvp .form input[type="text"],
.rsvp .form input[type="email"],
#blog-details .form input[type="text"],
#blog-details .form input[type="email"] {
	height: 56px;
	font-size: 17px;
	font-style: italic;
	border: 0;
	border-radius: 0;
	box-shadow: none;
}

.rsvp .form textarea,
#blog-details .form textarea {
	height: 225px;
	font-size: 17px;
	font-style: italic;
	border: 0;
	border-radius: 0;
	box-shadow: none;
}

.rsvp form .submit,
#blog-details form .submit {
	margin-bottom: 0;
}

.rsvp form .btn,
#blog-details form .btn {
	font-family: 'Merriweather', serif;
	background: #0dd0e2;
	width: 300px;
	height: 60px;
	line-height: 60px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	padding: 0;
	border: 0;
	position: relative;
	left: 50%;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
}

.rsvp form .btn:before,
#blog-details form .btn:before {
	content: "";
	background: rgba(5,135,147, 0.6);
	width: 0%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.rsvp form .btn:hover:before,
#blog-details form .btn:hover:before  {
	width: 100%;
}

/*form bird animation*/
.birdFadeInRight {
	-webkit-animation: birdFadeInRight 2.5s forwards;
	-moz-animation: birdFadeInRight 2.5s forwards;
	-o-animation: birdFadeInRight 2.5s forwards;
	-ms-animation: birdFadeInRight 2.5s forwards;
	animation: birdFadeInRight 2.5s forwards;
}

@-webkit-keyframes birdFadeInRight {
	from { -webkit-transform: translate(200px); opacity: 0; }
	to { -webkit-transform: translate(0px); opacity: 1; }
}

@keyframes birdFadeInRight {
	from { transform: translate(200px); opacity: 0; }
	to { transform: translate(0px); opacity: 1; }
}




/*--------------------------------------------------------------
#1.10	footer
--------------------------------------------------------------*/
footer {
	position: relative;
}

.footer-wrapper {
	background: url(../images/footer-bg.jpg) no-repeat 50% 50%;
	background-size: cover;
	width: 100%;
	padding-top: 450px;
	color: #fff;
	position: absolute;
	top: -330px;
}

.footer-wrapper:after {
	content: "";
	background: rgba(13,208,226,0.9);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.footer-wrapper:before {
	content: "";
	background: url(../images/circle-shape.png) repeat-x;
	width: 100%;
	height: 61px;
	position: absolute;
	left: 0;
	top: -30px;
	z-index: 5;
}

footer .container {
	text-align: center;
	padding-bottom: 100px;
	position: relative;
	z-index: 10;
}

footer h2 {
	font-size: 55px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 0 0.55em;
}

footer .title p {
	font-family: 'Merriweather', serif;
	background: url(../images/footer-para-bg.png) no-repeat center bottom;
	font-size: 19px;
	text-transform: uppercase;
	padding-bottom: 84px;
	margin-bottom: 45px;
}

footer .social-links li {
	display: inline-block;
}

footer .social-links li a {
	font-size: 25px;
	color: #fff;
}

footer .social-links li i {
	position: relative;
	z-index: 100;
}

footer .social-links li i:before {
	position: relative;
	z-index: 10;
}

footer .social-links li i:after {
	content: "";
	background-color: #fff;
	width: 130%;
	height: 130%;
	display: inline-block;
	border-radius: 5px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%) scale(0,0);
	transform: translate(-50%, -50%) scale(0,0);
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

footer .social-links li a:hover {
	background: #0dd0e2;
	box-shadow: 0 0 0 2px #fff;
	border-radius: 2px;
	color: #0dd0e2;
}

footer .social-links li a:hover i:after {
	-webkit-transform: translate(-50%, -50%) scale(1,1);
	transform: translate(-50%, -50%) scale(1,1);
}


/*copyright*/
footer .copyright {
	background: #018c99;
	position: relative;
	z-index: 10;
	text-align: center;
	font-size: 15px;
	padding: 47px 0 37px;
}



/*--------------------------------------------------------------
#1.11	ceremony
--------------------------------------------------------------*/
.ceremony {
	background-color: #3dd9e8;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 1000;
	overflow: scroll;
	display: none;
}

.ceremony .container {
	background-color: #fff;
	margin: 100px auto;
	position: relative;
}

.ceremony .container .close {
    background: #fff;
	position: absolute;
    z-index: 100;
    opacity: 1;
    padding: 10px;
    color: #3dd9e8;
    right: 0;
}


/*banar*/
#popup-wedding-ceremony .ceremony-banar {
	background: url(../images/ceremony/jhon-wedding-banar.jpg) no-repeat 50% 50%;
	background-size: cover;
	height: 465px;
	text-align: center;
	position: relative;
}

#popup-reciption-ceremony .ceremony-banar {
	background: url(../images/ceremony/alisa-reciption-banar.jpg) no-repeat 50% 50%;
	background-size: cover;
	height: 465px;
	text-align: center;
	position: relative;
}


.ceremony .ceremony-banar .title {
	background: url(../images/ceremony/title-bg.png) no-repeat 50% 50%;
	background-size: 100%;
	width: 576px;
	height: 340px;
	margin: 0 auto;
	position: relative;
	z-index: 10;
	margin-top: 62.5px;
}

.ceremony .ceremony-banar h2 {
	font-size: 26px;
	font-weight: bold;
	font-style: italic;
	color: #504e47;
	text-transform: uppercase;
	line-height: 1em;
	padding: 120px 0 25px;
	margin: 0;
	position: relative;
}

.ceremony .ceremony-banar h2:after {
	content: "";
	width: 	190px;
	height: 3px;
	background-color: #504e47;
	position: absolute;
	left: 50%;
	bottom: 10px;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);

}

.ceremony .ceremony-banar span {
	display: block;
	font-style: italic;
	color: #fff;
}


/*content*/
.ceremony .content {
	padding: 100px;
}

.ceremony .left-col {
	padding-top: 33px;
}

.ceremony .left-col > div {
	width: 310px;
	background-color: #f8f8f8;
}


/*time*/
.ceremony .left-col .time {
	background: #0dd0e2;
	text-align: center;
	color: #fff;
	padding-bottom: 40px;
	position: relative;
}

.ceremony .left-col .time h3 {
	font-family: 'Arimo', sans-serif;
	background-color: #0dd0e2;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	font-size: 40px;
	font-weight: bold;
	margin: 0;
	padding-top: 45px;
	position: absolute;
	left: 50%;
	top: -45px;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
}

.ceremony .left-col .time h3 span {
	font-family: 'Merriweather', serif;
	display: block;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 10px;
}

.ceremony .left-col .time div {
	padding-top: 100px;
}

.ceremony .left-col .time p {
	font-family: 'Merriweather', serif;
	font-size: 13px;
	font-weight: bold;
	font-style: italic;
	margin-bottom: 13px;
	position: relative;
}

.ceremony .left-col .contact {
	font-family: 'Merriweather', serif;
	font-size: 13px;
	font-weight: bold;
	color: #434343;
	padding: 52px 20px 42px 48px;
}


/*right-col*/
.ceremony .right-col {
	padding-left: 40px;
}

.ceremony .right-col h3 {
	font-size: 30px;
	font-weight: bold;
	color: #303030;
	line-height: 21px;
	margin: 0 0 0.83em;
}

.ceremony .right-col h3 + span {
	font-family: 'Merriweather', serif;
	font-size: 13px;
	font-weight: bold;
	font-style: italic;
	color: #0dd0e2;
}

.ceremony .right-col h3 + span i {
	font-size: 16px;
	display: inline-block;
	padding-right: 8px;
}

.ceremony .right-col .details {
	padding-top: 28px;
}

.ceremony .right-col .details p {
	font-size: 17px;
	font-style: italic;
	color: #555555;
	line-height: 32px;
	margin-bottom: 30px;
}

.ceremony .right-col .details p:last-child {
	margin-bottom: 0;
}

.ceremony .map {
	height: 515px;
	background-color: red;
}








/*---------------------------------------------------
==== Blog
---------------------------------------------------*/
/*--------------------------------------------------------------
#3.1	banar
--------------------------------------------------------------*/
.banar {
	background: url(../images/blog/banar.jpg) no-repeat 50% 50%;
	background-size: cover;
	width: 100%;
	height: 764px;
	position: relative;
}

.banar .container {
	width: 100%;
	position: absolute;
	left: 50%;
	top: 42%;
	-webkit-transform: translate(-50%, -42%);
	transform: translate(-50%, -42%);
	z-index: 10;
}

.banar h2 {
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	color: #fff;
}



/*--------------------------------------------------------------
#3.2	blog-content
--------------------------------------------------------------*/
.blog .blog-content {
	margin-top: -320px;
	padding-bottom: 47px;
}

.blog .blog-content p {
	color: #555;
}

.blog .para {
	margin-bottom: 100px;
}

.blog .para .col {
	padding: 0;
}

.blog .para p {
	font-size: 17px;
	line-height: 32px;
	text-align: center;
	font-style: italic;
	margin: 0;
}

.blog .post {
	margin-bottom: 80px;
	overflow: hidden;
}


/*author*/
.blog .blog-content .author {
	padding-left: 25px;
	position: relative;
	top: -40px;
}

#blog-details .blog-content .author {
	padding-left: 65px;
}

.blog .blog-content .author img {
	border: 3px solid #fff;
}

.blog .blog-content .view {
	background: url(../images/view-tag.png) no-repeat;
	background-size: 100%;
	width: 70px;
	height: 212px;
	position: relative;
	-webkit-animation: viewTag 1.5s ease-in-out alternate infinite;
	-webkit-transform-origin: top center;
	animation: viewTag 1.5s ease-in-out alternate infinite;
	transform-origin: top center;
}

.blog .view:hover {
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}

.blog .blog-content .view a {
	font-family: 'Merriweather', serif;
	background-color: #07bccd !important;
	width: 63px;
	height: 63px;
	line-height: 63px;
	font-size: 10px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	border-radius: 50%;
	padding: 0;
	position: absolute;
	left: 50%;
	top: 69px;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
}


/*details*/
.blog .details {
	padding: 55px 0 0 35px;
}

#blog-details .details {
	padding: 55px 0 0 0;
}

.blog .details h3 {
	font-family: 'Merriweather', serif;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 0 25px;
}

.blog .details h3 a {
	color: #333;
}

.blog .post-info {
	font-family: 'Merriweather', serif;
	color: #606060;
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 25px;
	overflow: hidden;
}

.blog .post-info .pull-left:first-child {
	margin-right: 50px;
}

.blog .post-info a {
	color: #606060;
}

.blog .details p {
	font-size: 15px;
	font-style: italic;
	line-height: 32px;
	margin: 0 0 25px;
}

.blog .details p:last-child {
	margin: 0;
}



/*--------------------------------------------------------------
#3.3	footer
--------------------------------------------------------------*/
#blog .footer-wrapper {
	padding-top: 165px;
	color: #fff;
	position: static;
}

#blog .footer-wrapper:before {
	top: -30px;
}

#blog .footer-wrapper .container {
	padding-bottom: 85px;
}



/*--------------------------------------------------------------
#...	blog-details
--------------------------------------------------------------*/
#blog-details .leave-comment .title {
	text-align: center;
	margin-bottom: 65px;
}

#blog-details .leave-comment h2 {
	font-size: 30px;
	font-weight: bold;
	color: #303030;
	line-height: 21px;
	text-transform: uppercase;
	margin: 0 0 0.73em;
}

#blog-details .leave-comment .title span {
	font-family: 'Merriweather', serif;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	color: #0dd0e2;
}





